<h1 class="uk-heading-xlarge"> Account Dashboard</h1>

<div class="uk-container">
    <h2 class="uk-heading-medium">User Details</h2>
    <table class="uk-table">
       <tbody>

        <tr>
            <td>First Name:</td>
            <td>Hi</td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td>Hi</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>Hi</td>
        </tr>
        <tr>
            <td>Address:</td>
            <td>Hi</td>
        </tr>
        <tr>
            <td>City:</td>
            <td>Hi</td>
        </tr>
        <tr>
            <td>State:</td>
            <td>Hi</td>
        </tr>
        <tr>
            <td>Zipcode:</td>
            <td>Hi</td>
        </tr>
        </tbody> 
    </table>
    <button class="uk-button uk-button-default" id="account-update">Save Account Updates</button>
</div>
<div class="uk-inline">
    <button class="uk-button uk-button-default" type="button">Click</button>
    <div uk-dropdown="mode: click">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</div>
</div>

<div>
        <div class="uk-card uk-card-primary uk-card-body">
            <h3 class="uk-card-title">Primary</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div> 


<button class="uk-button uk-button-default" id="logout">Log Out</button>

<script src="/js/logout.js"></script>