<h1 class="uk-heading-xlarge uk-text-center" id="landinghead">TP to You</h1>

<button
  class="uk-button uk-button-default uk-text-large uk-margin-small uk-width-1-1"
  type="button"
  uk-toggle="target: #offcanvas-usage">Login</button>
<div id="offcanvas-usage" uk-offcanvas>
  <div class="uk-offcanvas-bar">

    <button class="uk-offcanvas-close" type="button" uk-close></button>
    <div class="uk-container">
      <form class="uk-margin-medium-top" id="login-form">
        <fieldset class="uk-fieldset">
          <div class="uk-margin">
            <input
              id="email-login"
              class="uk-input"
              type="text"
              placeholder="Email"
            />
          </div>
          <div class="uk-margin">
            <input
              id="password-login"
              class="uk-input"
              type="password"
              placeholder="Password"
            />
          </div>
          <button class="uk-button uk-button-default uk-text-nowrap" id="login">Log In</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<div class="uk-container uk-margin uk-text-center uk-text-bolder">
  <p>The Toilet Paper premier service to your doorstep. We never run out, we
    always have inventory. Comes on a monthly subscription with all the levels
    of comfort to choose from.
  </p>
</div>

<div class="uk-container uk-align-center uk-flex-center">

  {{#each tiers}}
    <div class="uk-child-width-1-2@m uk-flex-center" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-hover-xlarge uk-transition-toggle">
                    <div id="imgg" class="uk-card-media-top">
                        <img src="/images/tp-placeholder.jpeg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title uk-transition-slide-top uk-text-center">{{tier_name}}</h3>
                        <p class="uk-transition-slide-bottom uk-text-center"> {{description}} </p>
                    </div>
                </div>
            </div>
        </div>
  {{/each}}
</div>
<button
  id="sign-up-button"
  class="uk-button uk-button-default uk-text-large uk-margin-small uk-width-1-1"
  type="button">Sign Up</button>


<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>