<h1>hello world</h1>

<form class="login-form">
    <fieldset class="uk-fieldset">

        <legend class="uk-legend">Log In Form</legend>

        <div class="uk-margin">
            <input class="uk-input" id="email-login" type="text" placeholder="Email">
        </div>
        <div class="uk-margin">
            <input class="uk-input" id="password-login" type="text" placeholder="Password">
        </div>
        <button class="uk-button uk-button-default">Log In</button>
    
    </fieldset>
</form>

<script src="../public/js/login.js"></script>