<h1 class="uk-heading-xlarge uk-text-center" id="signhead">Create Account</h1>

<div class="uk-container" id="formstyle">
    <form id="sign-up-form">
        <div class="uk-margin1">
            <input id="email" class="uk-input uk-text-center" type="text" placeholder="Email">
        </div>
        <div class="uk-margin1">
            <input id="password" class="uk-input uk-text-center" type="text" placeholder="Password">
        </div>
        <div class="uk-margin1">
            <input id="firstname" class="uk-input uk-text-center" type="text" placeholder="First Name">
        </div>
        <div class="uk-margin1">
            <input id="lastname" class="uk-input uk-text-center" type="text" placeholder="Last Name">
        </div>
        <div class="uk-margin1">
            <input id="address" class="uk-input uk-text-center" type="text" placeholder="Address">
        </div>
        <div class="uk-margin1">
            <input id="city" class="uk-input uk-text-center" type="text" placeholder="City">
        </div>
        <div class="uk-margin1">
            <input id="state" class="uk-input uk-text-center" type="text" placeholder="State">
        </div>
        <div class="uk-margin1">
            <input id="zipcode" class="uk-input uk-text-center" type="text" placeholder="Zipcode">
        </div>
        <select id="tier_id" class="uk-select uk-text-center">
            {{#each tiers}}
            <option value='{{id}}'>{{tier_name}} / ${{price}} a month</option>
            {{/each}}
        </select>
        <button type="submit" class="uk-button uk-margin uk-padding uk-button-default" id="create-account">Create Account</button>
    </form>
    
</div>
<script src="/js/createAccount.js"></script>